#container {
  height: 100vh;
  grid-template-areas:
    "h h h h h h"
    "s s m m m m"
    "s s m m m m"
    "s s m m m m"
    "s s f f f f";
  /* "s s s s s s"
  "f f f m m h"
  "f f f m m h"
  "f f f m m h"
  "f f f m m h"; */
  /* "h h f f s s"
    "h h f f s s"
    "h h . . s s"
    "h h m m s s"
    "h h m m s s"; */
  /* "h h h h h h"
  "f f m s s s"
  "f f m s s s"
  "f f m s s s"
  "f f m s s s "; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 10px;
}
.head {
  grid-area: h;
  background-color: lavender;
}

.side-nav {
  grid-area: s;
  background-color: lightblue;
}

.main {
  grid-area: m;

  background-color: lightgreen;
}

.foot {
  grid-area: f;

  background-color: lightpink;
}

#nav-container {
  display: grid;
  background-color: #2c3e50;
  grid-template-columns: repeat(2, 1fr);
  padding-right: 15px;
  padding-left: 15px;
}
.main-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.nav-item {
  display: grid;
  align-content: center;
  color: #ecf0f1;
  height: 100%;
}
.nav-item:hover {
  background-color: #557697;
}
.logo-container {
  display: grid;
  justify-content: end;
}
#results-container {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(3, 1fr);
}
#search-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 20px;
}
.result {
  display: grid;
  height: 100px;
  background-color: #16a085;
  text-align: center;
  align-content: center;
  border-radius: 4px;
}
