* {
  padding: 0;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.main {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 6fr 1fr;
  grid-template-areas: "s m" "s i";
}

.side-bar {
  grid-area: s;
  display: grid;
  align-content: space-evenly;
  grid-template-rows: 3fr repeat(4, 2fr);
  background-color: lightseagreen;
  padding: 10px;
}

.side-bar .side-bar__title {
  align-self: flex-start;
}

.side-bar .side-bar__item {
  align-self: center;
  background-color: rgb(14, 163, 156);
}

.messanger {
  grid-area: m;
  display: grid;
  align-items: end;
  grid-template-rows: 2fr repeat(4, 2fr);
  padding: 10px;
}

.messanger__item {
  justify-self: flex-start;
  background-color: lavender;
}

.messanger__item:nth-child(3),
.messanger__item:last-child {
  justify-self: flex-end;
  background-color: lightblue;
}

.input-container {
  grid-area: i;
  display: grid;
  grid-template-columns: 4fr 1fr;
  background-color: lavender;
  align-self: flex-end;
  border-top: 1px solid lightgray;
}

.input {
  border: none;
  padding: 10px;
}
