* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0 auto;
  height: 100vh;
}

.header {
  height: 300px;
}

.header-navigation {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 50px;
  padding: 5px 0;
  color: #555;
}

.header-navigation-burger{
  display: none;
}

.header-navigation .left-container {
  width: 30%;
}

.header-navigation .left-container ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}
@media (max-width: 768px) {
  .header-navigation-burger{
    display: block;
  }

  .header-navigation .left-container {
    width: unset;
  }
  .header-navigation .left-container ul {
    display: none;
  }
}

.header-navigation .left-container ul li {
  display: flex;
  align-items: center;
  gap: 5px;
}

.rigth-container .inner-rigth-container img {
  width: 35px;
  border-radius: 35px;
}

.rigth-container-burger{
  display: none;
}
@media (max-width: 768px) {
  .rigth-container-burger{
    display: block;
  }
}

.header-navigation .rigth-container {
  display: flex;
  align-items: center;
  width: 30%;
}
@media (max-width: 768px) {
  .header-navigation .rigth-container {
    display: none;
  }
}

.rigth-container .inner-left-container input {
  border-radius: 50px;
  border: none;
  background-color: #eee;
  padding: 10px;
}

.rigth-container .inner-left-container {
  position: relative;
}

.rigth-container .inner-left-container i {
  position: absolute;
  top: 50%;
  right: 10%;
  transform: translate(-50%, -50%);
}

.rigth-container .inner-rigth-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 40%;
}

.rigth-container .inner-rigth-container button {
  background-color: rgb(94, 193, 254);
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  color: white;
}

.container {
  background-color: linen;
  display: flex;
}
.container .img1 img {
  width: 60%;
}
.container .img2 img {
  width: 60%;
}
@media (max-width: 768px) {
  .container {
    background-color: lightblue;
    flex-direction: column;
  }
  .container .img1 img {
    width: 100%;
  }
  .container .img2 img {
    width: 30%;
  }
}
