.todo__item {
  display: flex;
  width: 100%;
  justify-content: start;
  align-items: center;
  gap: 10px;
}

.item__image {
  border-radius: 10px;
  width: 40px;
  height: 40px;
  align-self: flex-start;
}

.item__delete-btn {
  background-color: transparent;
  margin-left: auto;
}
