/* h1 {
  color: red;
}

.heading {
  color: green;
}

body {
  background-color: beige;
}

span {
  padding: 10px;
}

div{
  background-color: #eee;
  border: 2px solid #222;
  margin : 10px 15px 20px 30px;
  padding : 10px 15px 20px 30px;
  display: inline-block;
}


div div:nth-child(3) {
  position: relative;
  top: 30px;
  left: 10px
} */

/* <!-- strange layput --> */
/* #example {
  width: 100px;
  height: 100px;
  background-color: red;
  padding-top: 50px;
}
.div {
  width: 100px;
  height: 100px;
  padding-right: 50px;
  background-color: blue;
} */
/*
#parent {
  width: 300px;
  height: 300px;
  background-color: red;
  position: absolute;

  /* padding: 10px;
  display: inline-block; */
/*
}

#parent div {
  width: 100px;
  height: 100px;

  position: absolute;
}

#child1 {
  top: 0;
  left: 0;
  background-color: lightcoral;
  /* margin-top: 100px;
  margin-left: 30px; */
/*
} 

#child2 {
  background-color: lightpink;

  top: 0;
  right: 0;
  /* margin-right: 30px;
  margin-top: 100px;  */
/*
}
#child3 {

  bottom: 0;
  right: 0;
  background-color: lightgreen;

  /* margin-right: 30px;
  margin-top: 100px;  */
/*
}
#child4 {

  bottom: 0;
  left: 0;
  background-color: lightblue;

  /* margin-right: 30px;
  margin-top: 100px;  */
/*
}
#child5 {

  top: 100px;
  left: 100px;
  background-color: lightcyan;

  /* margin-right: 30px;
  margin-top: 100px;  */
/*
}

*/

body {
  margin: 0;
  padding: 0;
  height: 100vh;

  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* .centered-div{
  position: relative;
  width: 100px;
  height: 100px;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  background-color: lightblue;
} */

.header-container {
  background-color: lightcoral;
  padding: 30px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2
}

.nav {
  list-style: none;
}
.nav-item {
  display: inline-block;
}

.nav-item:not(:last-child) {
  padding-left: 10px;
}

.nav-link {
  text-decoration: none;
  color: #333;
  font-size: 20px;
  font-weight: 500;
}
main{
  padding: 110px 50px 50px 50px
}

.footer{
  position:fixed;
  bottom: 0;
  width: 100%;
  background-color: #000;
}

.footer .nav-link{
  color: #eee;
}