* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
}

.calc-container {
  height: 844px;
  width: 390px;
  padding: 19px;
  border-radius: 40px;
  background-color: #151515;
  font-family: Inter, Verdana, Geneva, Tahoma, sans-serif;
}

.calc-container ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 85.6%;
}

.calc-container ul li {
  width: 73px;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  color: white;
  border-radius: 9px;
  background-color: #343434;
}

.calc-container ul li.icon {
  font-size: 24px;
  color: #66ff7f;
}
.calc-container ul li:first-child,
.calc-container ul li:last-child {
  color: #343434;
}
.calc-container ul li:first-child {
  background-color: #ff5959;
}
.calc-container ul li:last-child {
  background-color: #66ff7f;
}

.calc-container .top-container {
  margin-bottom: 25px;
  width: 100%;
  border-bottom: 1px solid #4e4d4d;
}
.calc-container .bottom-container {
  height: 66%;
  width: 100%;
}

.top-container > p {
  font-size: 48px;
  text-align: right;
  padding: 42px 0;
}

.top-container .inner-fist-row {
  color: white;
}
.top-container .inner-fist-row::after{
  content: '';
  width: 1px;
  height: 48px;
  background-color: #969696;
  display: inline-block;
  position: relative;
  top: 8px;
  margin-left: 10px;
}
.top-container .inner-second-row {
  color: #969696;
  padding: 42px 0;
}

.top-container .inner-bottom-container {
  color: white;
  display: flex;
  font-size: 24px;
  justify-content: space-between;
}

.top-container .inner-bottom-container .inner-left-container {
  width: 35%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}
